
.notification-menu {
    max-width: 360px !important;
    max-height: 80vh !important;
    overflow-y: auto !important;
    border-radius: 16px !important;
    margin-top: 8px !important;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15) !important;
    border: 1px solid rgba(0, 0, 0, 0.05) !important;
    background: white !important;
}

app-room-booking .room-card {
    height: 100%;
    display: flex !important;
    flex-direction: column;
}

app-room-booking .room-card .mat-mdc-card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.login-btn-fix .mdc-button__label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}